*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.header{
 height: 80px;
 width: 100%;
 background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.logo{
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.nav-list{
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
   
}

.header-text-1{
    margin-right: 15px;
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}
.header-text-1:hover{
    color: aqua;

}
.header-text-2{
    margin-right: 15px;
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}
.header-text-2:hover{
    color: aqua;

}
.header-text-3{
    margin-right: 15px;
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}
.header-text-3:hover{
    color: aqua;

}
.header-text-4{
    margin-right: 15px;
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}
.header-text-4:hover{
    color: aqua;

}
.header-text-5{
    margin-right: 15px;
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}
.header-text-5:hover{
    color: aqua;

}
.container{
    height: 100%;
    
    width: 1200px;
    display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
}
.section-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 479px;
    background-color: pink;
}
.section-1 .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.hero-img{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

}
.hero-text{
    display: flex;
    flex-direction: column;
    
}
.hero-text-h1{
    font-size: 40px;
    font-family: var(--font-family,spotify-circular),Helvetica,Arial,sans-serif;
}
.hero-text-p{
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: var(--font-family,spotify-circular),Helvetica,Arial,sans-serif;
}
.hero-bth{
    display: flex;
    flex-direction: row;
    
    
}
.hero-bth-2{
    text-decoration: none;
    color: white;
    

}
.hero-bth-1{
    font-size: 15px;
    text-decoration: none;
    color: white;
    background-color:black ;
    border-radius: 500px;
    padding: 15px 25px;
    text-transform: uppercase;
    font-family: var(--font-family,spotify-circular),Helvetica,Arial,sans-serif;

}
.hero-bth-1:hover{
   background-color: aqua;
   color: black

}
.hero-bth-2{
    font-size: 15px;
    text-decoration: none;
    color: black;
    border: solid black 2px;
    border-radius: 500px;
    padding: 15px 25px;
    text-transform: uppercase;
    font-family: var(--font-family,spotify-circular),Helvetica,Arial,sans-serif;
    margin-left: 20px;
}
.hero-bth-2:hover{
    background-color: aqua;
    color: black
 
}
.hero-span{
    font-size: 12px;
    max-width: 630px;
    margin-top: 30px;
}
.section-2{
    height: 480px;
    background-color: #dddddd;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}


.section-2 .container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.section-2-heading{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    
    font-size: 45px;
    font-family: var(--font-family,spotify-circular),Helvetica,Arial,sans-serif;

}
.section-2-p{
    font-size: 24px;
    font-family: var(--font-family,spotify-circular),Helvetica,Arial,sans-serif;
    margin-top: 35px;
}
.section-2-img{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.playstore{
    width: 115px;
    height: 120px;
}
.appstore{
    width: 119px;
  height : 45px;
  margin-top: 38px;
}
.section-2-tems{
    width: 630px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: spotify-circular, Circular, Helvetica, Arial, sans-serif;
    font-size: 0.6875rem;
    line-height: 1rem;
    text-align: center;
}
.tems-se-2{
    display: flex;
    
    justify-content: center;
}
footer{
    height: 424px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.footer .container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.footer-img{
    width: 132px;
    height: 40px;
    display: flex;
    flex-direction: row;
   margin-right: 150px;

   
}
.footer-nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.item1{
    margin-right: 20px;
}
.item2{
    margin-right: 20px;
}
.item3{
    margin-right: 20px;
}
.footer-text{
    text-decoration: none;
    color: white;
}
h2{
    color: #dddddd;
}
